<div>
  <h1>Login para ingresar</h1>

  <form id="loginForm">

    <label>Email</label>
    <input name="email" />

    <label>Contraseña</label>
    <input type="password" name="password" />

    <input type="submit" />
  </form>

  <p>También puedes ingresar por:</p>
  <a href="/api/session/github"><button>Github</button></a>

  <p>¿No tienes una cuenta? <a href="/register">Regístrate</a></p>

  <p>¿Olvidaste tu contraseña? Puedes
    <a href="/restoreRequest">restaurarla aquí</a></p>

</div>

<script src="/js/login.js"></script>