<h1>Compra realizada con éxito</h1>

<p>Se ha enviado por mail los datos de su compra</p>

<button><a style="color: #fff;" href="/products">Volver al Menú Productos</a></button>

<br /><br />

<button id="botonLogout">Cerrar Sesión</button>

<script src="/js/products.js"></script>