<h1>Menú Admin</h1>
<p>Usted a ingresado sesión como Administrador, seleecione una opción para ser redirigido</p>
<div>
<button id="btnUsers">PLATAFORMA USUARIOS</button>
<b>- - -</b>
<button id="btnProducts">PLATAFORMA PRODUCTOS</button>
</div>

<script src="/js/menuAdmin.js"></script>