<div>
  <h1>Regístrate para acceder!</h1>
  <form id="registerForm">
    <label>Nombre</label>
    <input name="firstName" />

    <label>Apellido</label>
    <input name="lastName" />

    <label>Email</label>
    <input name="email" />

    <label>Edad</label>
    <input name="age" />

    <label>Contraseña</label>
    <input type="password" name="password" />

    <input type="submit" />

  </form>

  <p style="color: red;" id="statusRegister"></p>
</div>

<p>¿Ya tienes una cuenta?
  <a href="/login">Puedes logearte desde aquí!</a></p>

<script src="/js/register.js"></script>