<div>
    <h1 style="color:red; text-align:center;">¡Cuenta Eliminada!</h1>
    <br/>
    <div style=" text-align: center; ">
        <img src="cid:banner">
    </div>
    <h2>¡Hola {{user}}! su cuenta ha sido eliminada por inactividad!</h2>
    <p>
        Lamentamos informarle que su cuenta ha sido eliminada por inactividad, no ha ingresado sesión en los últimos 30 minutos!
    </p>
</div>