<div>
    <h1 style="color:red; text-align:center;">¡Producto Eliminado!</h1>
    <br />
    <div style=" text-align: center; ">
        <img src="cid:banner" />
    </div>
    <h2>¡Hola {{user}}, el producto "{{product.title}}" creado por usted ha sido eliminado del Ecommerce</h2>
    <p>
        Este correo es para notificarle dicho procedimiento.
    </p>
</div>