<div>
  <h1 style="color:red; text-align:center;">Compra Exitosa!</h1>
  <br />
  <div style=" text-align: center; ">
    <img src="cid:banner" />
  </div>
  <h2>¡Hola {{user.name}}, felicitaciones por tu compra!</h2>

  <p>Se ha generado un ticket de compra número: {{ticket.code}}</p>
  <p>Importe: ${{ticket.amount}}</p>
  <p>Correo de compra: {{ticket.purchaser}}</p>

  <p>Gracias!</p>
</div>