<div>
  <h1 style="color:red; text-align:center;">¡Bienvenido!</h1>
  <br />
  <div style=" text-align: center; ">
    <img src="cid:banner" />
  </div>
  <h2>¡Hola {{user}}! gracias por registrarte en nuestro Ecommerce</h2>
  <p>
    Esperamos que puedas encontrar el productos que deseas!
  </p>
  <a href="http://localhost:8080/login">Puedes logearte desde aquí!</a>
</div>